<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-7">
      <h1 class="client-name">
        Dulce & Carlos
      </h1>
    </div>
  </div>

  <div class="row pt-5 justify-content-center">
    <div class="col-md-10">
      <div class="">
        <div class="gallery">
          <img src="../../../../assets/images/clients/dulce-carlos/01.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/dulce-carlos/02.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/03.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/04.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/05.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/06.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/dulce-carlos/07.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/08.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/09.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/10.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/11.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/12.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/dulce-carlos/13.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/14.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/15.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/16.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/17.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/18.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/dulce-carlos/19.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/20.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/21.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/22.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/23.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/24.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/dulce-carlos/25.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/26.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/27.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/28.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/29.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/dulce-carlos/30.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/31.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-carlos/32.jpg" alt="" width="100%" height="auto" class="gallery-img" />
        </div>
      </div>
    </div>
  </div>
</div>
