<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row pt-5 justify-content-center">
    <div class="col-md-4">
      <h1 class="client-name" style="text-align: left;">
        Contacto
      </h1>
      <p>
        En AXL Studio nos preocupamos de cada detalle para que tus fotos
        reflejen no solo aquel momento que deseas capturar sino que también
        capture la esencia misma de lo que sentiste en ese momento.
      </p>
      <br>
      <p>
        Es por eso que estaremos más que honrados de poder ser parte de tu
        historia, ser parte de ese capítulo y así ayudarte a guardarlo para
        la posteridad.
      </p>
      <br>
      <p>
        Entonces... ¿Nos dejas escribir tu historia?
      </p>
      <br>
      <p>
        info@axlstudiomx.com
      </p>
      <a target="_blank" href="https://www.facebook.com/AXLStudioMx">
        <i class="fab fa-facebook-f fa-2x axl-icons mx-2"></i>
      </a>
      <a target="_blank" href="https://www.messenger.com/t/AXLStudioMx">
        <i class="fab fa-facebook-messenger fa-2x axl-icons mx-2"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/axlstudiomx/">
        <i class="fab fa-instagram fa-2x axl-icons mx-2"></i>
      </a>
      <a target="_blank" href="https://www.youtube.com/channel/UCqy3F1BHvNlPMswtGWyFAlg">
        <i class="fab fa-youtube fa-2x axl-icons mx-2"></i>
      </a>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name*</label>
          <input type="text" class="form-control axl-form" id="name" name="mMessage.name" [(ngModel)]="mMessage.name" (ngModelChange)="mMessage.name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email*</label>
          <input type="email" class="form-control axl-form" id="email" name="mMessage.email" [(ngModel)]="mMessage.email" (ngModelChange)="mMessage.email">
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="number" class="form-control axl-form" id="phoneNumber" name="mMessage.phoneNumber" [(ngModel)]="mMessage.phoneNumber" (ngModelChange)="mMessage.phoneNumber">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Tell us about your event*</label>
          <textarea class="form-control axl-form" id="message" name="mMessage.message" [(ngModel)]="mMessage.message" (ngModelChange)="mMessage.message" style="height: 150px;"></textarea>
        </div>
        <button class="form-btn" (click)="fnSendMessage()">Send</button>
        <label class="form-check-label ms-5">*Estos campos son obligatorios</label>
      </form>
    </div>
  </div>

  <div class="row py-5">
    <br>
  </div>
</div>
