a {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 1.35em;
  text-decoration: underline;
  line-height: 1.6em;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 1em;
}

