<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row pt-5 justify-content-center">
    <div class="col-md-8">
      <h4>Clients</h4>
      <br>
      <p>
        A lo largo de nuestra carrera, hemos tenido el placer de trabajar con grandes y
        extraordinarios clientes, personas que no solo se convirtieron en un catálogo más
        en nuestra página, sino que también pasaron a formar parte de esta familia, es
        gracias a cada una de esas personas que creyeron en nosotros, que hoy estamos aquí
        trabajando día a día, con la meta de entregarles siempre lo mejor.
      </p>
      <br>
      <p>
        En AXL Studio no solo se trata de tomar una foto más, se trata de capturar un momento,
        toda nuestra filosofía de trabajo esta basada en un solo pensamiento, escribir tú
        historia; y es por eso que agradecemos a todas estas personas que nos dejaron ser
        parte de sus vidas y plasmar su historia para la posteridad.
      </p>
    </div>
  </div>

  <div class="row pt-5 justify-content-center">
    <div class="col-md-2">
      <ul>
        <li>
          <a href="wedding/daniel-belem">
            Daniel & Belem
          </a>
        </li>
        <li>
          <a href="client/ramses-hidalgo">
            Ramses Hidalgo
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-2">
      <ul>
        <li>
          <a href="xv/keily">
            Keily
          </a>
        </li>
        <li>
          <a href="xv/fatima">
            Fatima
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-2">
      <ul>
        <li>
          <a href="wedding/brenda-grisel">
            Brenda & Grisel
          </a>
        </li>
        <li>
          <a href="wedding/manuel-claudeth">
            Manuel & Claudeth
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-2">
      <ul>
        <li>
          <a href="short-film/dulce-encuentro">
            Dulce Encuentro
          </a>
        </li>
        <li>
          <a href="wedding/dulce-carlos">
            Dulce & Carlos
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row py-5">
    <br>
  </div>
</div>
