<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-11">
      <div class="">
        <div class="gallery">
          <img src="../../../assets/images/home/28.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/02.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/03.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/04.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/05.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/06.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/07.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/08.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/09.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/10.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/11.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/12.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/13.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/14.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/15.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/16.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/17.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/18.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/19.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/20.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/21.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/22.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/23.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/24.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/25.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/26.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/27.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/01.jpg" alt="" width="100%" height="auto" class="gallery-img" />
        </div>
      </div>
    </div>
  </div>

  <div class="row py-5">
    <br>
  </div>
</div>
