<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-7">
      <h1 class="client-name">
        Daniel & Belem
      </h1>
    </div>
  </div>

  <div class="row pt-5 justify-content-center">
    <div class="col-md-10">
      <div class="">
        <div class="gallery">
          <img src="../../../../assets/images/clients/daniel-belem/01.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/daniel-belem/02.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/03.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/04.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/05.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/06.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/daniel-belem/07.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/08.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/09.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/10.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/11.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/12.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/daniel-belem/13.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/14.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/15.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/16.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/17.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/18.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/daniel-belem/19.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/20.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/21.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/daniel-belem/22.jpg" alt="" width="100%" height="auto" class="gallery-img" />
        </div>
      </div>
    </div>
  </div>
</div>
