<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-7">
      <h1 class="client-name">
        Brenda & Grisel
      </h1>
    </div>
  </div>

  <div class="row pt-3 justify-content-center">
    <div class="col-md-7">
      <iframe class="video-client" src="https://www.youtube.com/embed/WmzaaMNNVFs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row pt-5 justify-content-center">
    <div class="col-md-10">
      <div class="">
        <div class="gallery">
          <img src="../../../../assets/images/clients/brenda-grisel/01.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/brenda-grisel/02.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/03.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/04.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/05.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/06.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/brenda-grisel/07.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/08.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/09.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/10.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/11.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/12.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/brenda-grisel/13.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/14.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/15.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/16.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/17.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/18.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/brenda-grisel/19.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/brenda-grisel/20.jpg" alt="" width="100%" height="auto" class="gallery-img" />
        </div>
      </div>
    </div>
  </div>
</div>
