<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: rgba(0,0,0,.5);">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="home">
      <img src="../../../assets/images/logo.png" alt="" width="75" class="d-inline-block align-content-center">
      Photography Studio
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="clients">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="contact">Contact</a>
        </li>
        <li class="nav-item">
          <img src="../../../assets/images/mx.png" class="img-fluid me-1" width="40">
        </li>
        <li class="nav-item">
          <img src="../../../assets/images/us.png" class="img-fluid ms-1" width="40">
        </li>
      </ul>
    </div>
  </div>
</nav>
