<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-7">
      <h1 class="client-name">
        Dulce Encuentro
      </h1>
    </div>
  </div>

  <div class="row pt-3 justify-content-center">
    <div class="col-md-7">
      <iframe class="video-client" src="https://www.youtube.com/embed/7Fqsz3W-JPY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row pt-5 justify-content-center">
    <div class="col-md-10">
      <div class="">
        <div class="gallery">
          <img src="../../../../assets/images/clients/dulce-encuentro/01.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/dulce-encuentro/02.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-encuentro/03.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-encuentro/04.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-encuentro/05.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-encuentro/06.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/dulce-encuentro/07.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-encuentro/08.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/dulce-encuentro/09.jpg" alt="" width="100%" height="auto" class="gallery-img" />
        </div>
      </div>
    </div>
  </div>
</div>
