<div class="container-fluid">
  <div class="row justify-content-center bg-hero">
    <div class="col-md-10 text-center align-self-center">
      <img src="../../../assets/images/logo.png" class="img-fluid" width="400">
    </div>
  </div>

  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-5">
      <p>
        A lo largo de nuestra carrera, hemos tenido el placer de trabajar con grandes y extraordinarios
        clientes, personas que no solo se convirtieron en un catálogo más en nuestra página, sino que también
        pasaron a formar parte de esta familia, es gracias a cada una de esas personas que creyeron en nosotros,
        que hoy estamos aquí trabajando día a día, con la meta de entregarles siempre lo mejor.
      </p>
      <br>
      <a href="clients" class="btn btn-outline-light btn-lg" style="border-radius: 0; font-size: 1.45em;">Clientes</a>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-11">
      <div class="">
        <div class="gallery">
          <img src="../../../assets/images/home/01.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/02.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/03.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/04.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/08.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/09.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/11.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/12.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/13.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/16.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/20.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/23.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/24.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../assets/images/home/25.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/26.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/27.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/28.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../assets/images/home/sidebar.jpg" alt="" width="100%" height="auto" class="gallery-img" />
        </div>
      </div>
    </div>
  </div>

  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-5">
      <p>
        En AXL Studio nos preocupamos de cada detalle para que tus fotos reflejen no solo aquel momento
        que deseas capturar sino que también capture la esencia misma de lo que sentiste en ese momento.
      </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name*</label>
          <input type="text" class="form-control axl-form" id="name" name="mMessage.name" [(ngModel)]="mMessage.name" (ngModelChange)="mMessage.name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email*</label>
          <input type="email" class="form-control axl-form" id="email" name="mMessage.email" [(ngModel)]="mMessage.email" (ngModelChange)="mMessage.email">
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="number" class="form-control axl-form" id="phoneNumber" name="mMessage.phoneNumber" [(ngModel)]="mMessage.phoneNumber" (ngModelChange)="mMessage.phoneNumber">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Tell us about your event*</label>
          <textarea class="form-control axl-form" id="message" name="mMessage.message" [(ngModel)]="mMessage.message" (ngModelChange)="mMessage.message" style="height: 150px;"></textarea>
        </div>
        <button class="form-btn" (click)="fnSendMessage()">Send</button>
        <label class="form-check-label ms-5">*Estos campos son obligatorios</label>
      </form>
    </div>
  </div>

  <div class="row py-5">
    <br>
  </div>
</div>
