<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row pt-5 justify-content-center">
    <div class="col-md-4">
      <img src="../../../assets/images/about/about.jpg" class="img-fluid">
      <div class="py-4">
        <br>
      </div>
      <p>
        AXL Studio surge bajo una simple filosofía, escribir una historia, nosotros
        no creemos que cada fecha especial sea simplemente eso, una fecha especial,
        sino que se trata de escribir una historia, un capítulo de este libro llamado
        vida. Es por eso que nuestro principal objetivo es ayudarte a que ese día sea
        algo más que inolvidable sino que quedará plasmado para la perpetuidad.
      </p>
      <br>
      <p>
        Comenzó un noviembre del año 2015, pasando por varias facetas y varios cambios
        hasta que finalmente 4 años después se formalizó como AXL Studio, fue un viaje
        en el que poco a poco se fue aprendiendo, hubieron momentos buenos y también
        momentos malos, pero a todos y cada uno de ellos se les dio una solución. Ahora
        el equipo de AXL Studio está más que preparado para cumplir con nuestro único
        objetivo... Escribir tu historia.
      </p>
      <br>
      <p>
        A lo largo de nuestra carrera, hemos tenido el placer de trabajar con grandes y
        extraordinarios clientes, personas que no solo se convirtieron en un catálogo
        más en nuestra página, sino que también pasaron a formar parte de esta familia,
        es gracias a cada una de esas personas que creyeron en nosotros, que hoy estamos
        aquí trabajando día a día, con la meta de entregarles siempre lo mejor.
      </p>
      <br>
      <p>
        A todos esos clientes y a los que aún están por venir, muchas gracias.
      </p>
      <br>
      <p style="font-size: 1.2em;">
        Axxel Hernández
        <br>
        <span style="font-size: .8em !important;">Fundador y CEO</span>
      </p>
    </div>
  </div>

  <div class="row py-5">
    <br>
  </div>
</div>
