<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-7">
      <h1 class="client-name">
        Ramses Hidalgo
      </h1>
    </div>
  </div>

  <div class="row pt-3 justify-content-center">
    <div class="col-md-7">
      <iframe class="video-client" src="https://www.youtube.com/embed/hlNYRAG5-VY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row pt-3 justify-content-center">
    <div class="col-md-7">
      <iframe class="video-client" src="https://www.youtube.com/embed/sTB9gUwh9o8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row py-5">
    <br>
  </div>
</div>
