<div class="container-fluid">
  <div class="row py-5">
    <br>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-7">
      <h1 class="client-name">
        Keily
      </h1>
    </div>
  </div>

  <div class="row pt-3 justify-content-center">
    <div class="col-md-7">
      <iframe class="video-client" src="https://www.youtube.com/embed/QSISyRCgM2Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row pt-5 justify-content-center">
    <div class="col-md-10">
      <div class="">
        <div class="gallery">
          <img src="../../../../assets/images/clients/keily/01.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/keily/02.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/03.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/04.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/05.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/06.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/keily/07.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/08.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/09.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/10.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/11.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/12.jpg" alt="" width="100%" height="auto" class="gallery-img" />

          <img src="../../../../assets/images/clients/keily/13.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/14.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/15.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/16.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/17.jpg" alt="" width="100%" height="auto" class="gallery-img" />
          <img src="../../../../assets/images/clients/keily/18.jpg" alt="" width="100%" height="auto" class="gallery-img" />
        </div>
      </div>
    </div>
  </div>
</div>
