/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Poppins";
  src: url("assets/font/Poppins-Regular.otf");
}

.bg-global {
  background-color: #000000;
}

p {
  font-family: "Montserrat", serif;
  font-size: 1.25em;
  line-height: 1.6;
  color: #B6B6B6;
}

.axl-form {
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 0;
  background: transparent !important;
  color: #ffffff !important;
  padding: 13px 15px 17px;
  margin-bottom: 20px;
  font-size: 1.25em;
}

.form-btn {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.7em;
}

.axl-icons {
  color: rgba(255,255,255,.3);
  transition: all .5s;
}

.axl-icons:hover {
  color: #ffffff;
}

.client-name {
  font-family: Poppins, sans-serif;
  font-size: 3.5em;
  text-align: center;
}

.video-client {
  width: 100%;
  height: 630px;
}

@media (max-width: 1000px) {
  .video-client {
    width: 100%;
    height: 315px;
  }
  .client-name {
    font-size: 2.5em;
  }
}

/*GALLERY*/

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin-top: 30px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: auto;
  transition: 500ms;
  margin-bottom: 10px;
  opacity: 0.8;
  page-break-inside: avoid; /* For Firefox. */
  -webkit-column-break-inside: avoid; /* For Chrome & friends. */
  break-inside: avoid; /* For standard browsers like IE. :-) */
}

.gallery img:hover {
  opacity: 1;
}

/* .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
} */

.modal-img,.model-vid{
  margin: 0;
  padding: 0;
  width: 10%;
  height: 10%;
  display: table
}
.modal-body{
  padding: 0px;
}

.modal-dialog {
  height: 10%;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .gallery div { margin: 0;
    width: 200px;
  }
  .modal-dialog {
    margin: 0 8vw;
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .gallery div {
    margin: 0;
    width: 200px;
  }
}
