<div class="container-fluid py-4">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <p style="font-size: 1.1em;">Copyright ©{{year}}. AXL Studio MX. All rights reserved. <a href="privacy-policy">Privacy Policy</a></p>
    </div>
    <div class="col-md-5 text-alignment">
      <a target="_blank" href="https://www.facebook.com/AXLStudioMx">
        <i class="fab fa-facebook-f fa-2x axl-icons mx-2"></i>
      </a>
      <a target="_blank" href="https://www.messenger.com/t/AXLStudioMx">
        <i class="fab fa-facebook-messenger fa-2x axl-icons mx-2"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/axlstudiomx/">
        <i class="fab fa-instagram fa-2x axl-icons mx-2"></i>
      </a>
      <a target="_blank" href="https://www.youtube.com/channel/UCqy3F1BHvNlPMswtGWyFAlg">
        <i class="fab fa-youtube fa-2x axl-icons mx-2"></i>
      </a>
    </div>
  </div>
</div>
